%tr
  %td.center
    .leagueplayer-rank= team_counter+1
  %td.left
    - team.players.each do |player|
      .leagueplayer-image
        = image_tag player_avatar(player)
    .leagueplayer-name
      = team

  %td.center= Game.wins([team.id]).count
  %td.center= Game.loses([team.id]).count
  %td.center
    - unless Game.having_teams([team.id]).empty?
      = number_to_percentage((Game.wins([team.id]).count.to_f / Game.having_teams([team.id]).count.to_f) * 100.0, :precision => 0)
  %td.center= team.streak
  %td.center
    %strong
      #{number_with_precision(team.skill, :precision => 1) }
