- content_for :heading do
  %h1 #{resource.name} Settings

%h2 Information
= simple_form_for resource do |form|
  = form.error_messages
  = render 'form', :form => form
  = form.button :submit

%h2 Players
= simple_form_for resource.players.build, :url => league_players_url(resource) do |form|
  = form.input :name
  = form.input :twitter_name
  = form.button :submit

%table#players
  %thead
    %tr
      %th Twitter Handle
  %tbody
    = render resource.players
