- content_for :heading do
  %h1 #{resource.name} Settings

%h2 Information
= simple_form_for resource do |form|
  = form.error_messages
  = render 'form', :form => form
  = form.button :submit

%h2 Players

%table#players
  %thead
    %tr
      %th Twitter Handle
  %tbody
    = render resource.players.select { |player| !player.new_record? }
