- content_for :heading do
  %h1 Create New League

= simple_form_for resource do |form|
  = form.error_messages
  .newleague
    .row
      .column.six
        = render 'form', :form => form

    %hr

    %h2 Add Players
    .row.newplayer-you
      .column.one
        .newplayer-image
          = image_tag player_avatar(current_player)
      .column.four.end
        %p.newplayer-you-name= current_player

    - (6 - form.object.league_memberships.count).times do
      - form.object.league_memberships.build
    = form.simple_fields_for :league_memberships do |player|
      .row.newplayer
        .column.one
          .newplayer-image
            = image_tag "default-player-logo.png"
        .column.four
          = player.input :name
        .column.four
          = player.input :twitter_name
        .column.three

    .field-actions
      = form.button :submit, :class => "btn btn-primary"

