- content_for :heading do
  %h1= resource.name

  .col-main-heading-action
    = link_to 'New Game', new_league_game_url(resource), :class => "btn btn-primary btn-ondark"

- content_for :sideleft do
  .league-image
    = image_tag resource.logo.thumb('150x150').url if resource.logo_uid

  %nav.nav.nav-main
    %ul
      %li.active= link_to "Recent Games", "#"
      %li= link_to "Player Ladder", "#"
      %li= link_to "Team Ladder", "#"
      %li= link_to "Player Stats", "#"
      %li= link_to "Team Stats", "#"
      %li= link_to "League Stats", "#"
      %li= link_to 'League Settings', edit_league_url(resource)

- content_for :sideright do
  .player
    .player-card
      .player-card-image
        = image_tag player_avatar
      .player-card-info
        - if current_player.name
          %h1= current_player.name

        - if current_player.twitter_name
          %p= current_player.twitter_name
    .row
      .column.six
        %p.stat.stat-large
          8888
          %strong Wins
      .column.six
        %p.stat.stat-large
          8888
          %strong Losses

    %h2 Win Percent
    #winpercent.chart.chart-small

    %h2 Score Diff
    #scorediff.chart.chart-small

    %h2 Ladder Skill
    #ladderskill.chart.chart-small

.games
  - unless resource.games.empty?
    = render resource.games
  - else
    .nogames
      %p No Games Played
      = link_to 'New Game', new_league_game_url(resource), :class => "btn"

/ - if resource.doubles?
/   %h2 Teams
/   %table
/     %thead
/       %tr
/         %th Player #1
/         %th Player #2
/         %th Name
/     %tbody
/       = render resource.teams

