- content_for :heading do
  %h1= resource.name

  .col-main-heading-action
    = link_to 'New Game', '#', :class => "btn btn-primary btn-ondark btn-newgame"

- content_for :sideleft do
  = render :partial => 'layouts/leaguenav'

- content_for :sideright do
  = render :partial => 'layouts/playerstat'

.games
  - unless resource.games.empty?
    = render resource.games.limit(100)
  - else
    .nogames
      %p No Games Played
      = link_to 'New Game', new_league_game_url(resource), :class => "btn btn-newgame"