- content_for :heading do
  %h1= resource.name

  .col-main-heading-action
    = link_to 'New Game', new_league_game_url(resource), :class => "btn btn-primary btn-ondark"

- content_for :sideleft do
  %nav.nav.nav-main
    %h1 League Navigation
    %ul
      %li= link_to "Dasboard", "#"
      %li= link_to "Player Ladder", "#"
      %li= link_to "Team Ladder", "#"
      %li= link_to "Player Stats", "#"
      %li= link_to "Team Stats", "#"
      %li= link_to "League Stats", "#"
      %li= link_to 'League Settings', edit_league_url(resource)

- content_for :sideright do
  .player
    .player-card
      .player-card-image
        %img{ :src => "https://si0.twimg.com/profile_images/2704359237/a482581c712a8024130d4b231a9d3448.png" }
      .player-card-info
        %h1 Player Name
        %p Player Twitter Handle

    .row
      .column.six
        %p.stat.stat-large
          8888
          %strong Wins
      .column.six
        %p.stat.stat-large
          8888
          %strong Losses





= image_tag resource.logo.thumb('100x100').url if resource.logo_uid

%h2 Games
%table
  %thead
    %tr
      %th Home
      %th Home Score
      %th Away Score
      %th Away
  %tbody
    = render resource.games

- if resource.doubles?
  %h2 Teams
  %table
    %thead
      %tr
        %th Player #1
        %th Player #2
        %th Name
    %tbody
      = render resource.teams
