- content_for :heading do
  %h1= resource.name

  .col-main-heading-action
    = link_to 'New Game', new_league_game_url(resource), :class => "btn btn-primary btn-ondark"

- content_for :sideleft do
  .league-image
    = image_tag league_logo(resource, '180x180#')

  %nav.nav.nav-main
    %ul
      %li.active= link_to "Dashboard", "#"
      %li= link_to "Player Ladder", "#"
      %li= link_to "Team Ladder", "#"
      %li= link_to "Player Stats", "#"
      %li= link_to "Team Stats", "#"
      %li= link_to "League Stats", "#"
      %li= link_to 'League Settings', edit_league_url(resource)

- content_for :sideright do
  .player
    .player-card
      .player-card-image
        = image_tag player_avatar
      .player-card-info
        - if current_player.name
          %h1= current_player.name

        - if current_player.twitter_name
          %p= current_player.twitter_name
    .row
      .column.six
        %p.stat.stat-large
          = current_player.wins.count
          %strong Wins
      .column.six
        %p.stat.stat-large
          = current_player.losses.count
          %strong Losses

    %h2 Win Percent
    #winpercent.chart.chart-small

    %h2 Score Diff
    #scorediff.chart.chart-small

    %h2 Ladder Skill
    #ladderskill.chart.chart-small

.games
  = render resource.games

%h2 Recent Games
= render resource.games.limit(20)
