= form.error_messages

.row
  .column.six
    .newgame-home
      %h2 Home Team Players
      %ul.block-grid.two-up.players
        - form.object.league.players.sort.each do |player|
          %li
            %a.player-btn.btn{ :class => "#{'active' if form.object.home_team_players.include?(player)}" }
              .btn-image
                = image_tag player_avatar(player)
              = player
            = check_box_tag 'game[home_team_players][]', player.id, form.object.home_team_players.include?(player)
      %h2 Home Team Score
      = form.text_field :home_score, :maxlength => "2"

  .column.six
    .newgame-away
      %h2 Away Team Players
      %ul.block-grid.two-up.players
        - form.object.league.players.sort.each do |player|
          %li
            %a.player-btn.btn{ :class => "#{'active' if form.object.away_team_players.include?(player)}" }
              .btn-image
                = image_tag player_avatar(player)
              = player
            = check_box_tag 'game[away_team_players][]', player.id, form.object.away_team_players.include?(player)
      %h2 Away Team Score
      = form.text_field :away_score, :maxlength => "2"



