= form_for resource, :url => league_games_path(resource.league) do |f|

  = f.error_messages

  #new-game-inline

    .col
      %h1 Home Team Players
      .players.home.clearfix
        - f.object.league.players.each do |player|
          %a.button
            = player.name
          = check_box_tag 'game[home_team_players][]', player.id, f.object.home_team_players.include?(player)

      %h1 Home Team Score
      #home_team_slider.slider
      = f.text_field :home_score

    .col.last
      %h1 Away Team Players
      .players.away.clearfix
        - f.object.league.players.each do |player|
          %a.button
            = player.name
          = check_box_tag 'game[away_team_players][]', player.id, f.object.away_team_players.include?(player)
      %h1 Away Team Score
      = f.text_field :away_score


    .action
      = f.submit 'Enter', { :class => 'submit'}
