.game.row
  .game-team.game-team-home.column.five
    =  game.home
    - game.home.players.each do |player|
      .game-team-playerimage
        %img{ :src => "https://api.twitter.com/1/users/profile_image/#{player.twitter_name}?size=normal"}

  .game-scores.column.two
    .row
      .game-score.game-score-home.column.six
        = display_score game.home_score
      .game-score.game-score-away.column.six
        = display_score game.away_score
  .game-team.game-team-away.column.five
    - game.away.players.each do |player|
      .game-team-playerimage
        %img{ :src => "https://api.twitter.com/1/users/profile_image/#{player.twitter_name}?size=normal"}

    =  game.away
