.game.row
  .game-team.game-team-home.column.six.winner
    = display_score game.home_score
    .game-team-playerimages
      - game.home.players.each do |player|
        .game-team-playerimage
          = image_tag player_avatar(player)
    .game-team-name
      =  game.home


  .game-team.game-team-away.column.six
    = display_score game.away_score
    .game-team-playerimages
      - game.away.players.each do |player|
        .game-team-playerimage
          = image_tag player_avatar(player)
    .game-team-name
      =  game.away
