%tr
  %td= league_player_counter+1
  %td
    = image_tag player_avatar(league_player)
    = league_player
  %td= league_player.wins(parent.teams.with_player(league_player).map{|l| l.id}).count
  %td= league_player.losses(parent.teams.with_player(league_player).map{|l| l.id}).count
  %td
    - unless league_player.games.empty?
      = number_to_percentage((league_player.wins.count.to_f / league_player.games.count.to_f) * 100.0, :precision => 0)
  %td= streak(league_player, League.first)
  %td
    #{league_player.skill} (#{league_player.deviation})
