.topbar
  .row
    %h1.branding= link_to "Foosleague", "#"

    - if player_signed_in?
      .btn.btn-header.btn-header-left.has-dropdown
        League Name
        %ul.dropdown.dropdown-left
          %li= link_to "Name", "#"
          %li= link_to "Name", "#"
          %li= link_to "Name", "#"
          %li= link_to "Name", "#"

      .btn.btn-header.btn-header-right.has-dropdown
        =current_player
        %ul.dropdown.dropdown-right
          %li
            = link_to edit_player_registration_path do
              %i.ss-icon.ss-settings
              Edit
          %li
            = link_to destroy_player_session_path do
              %i.ss-icon.ss-caution
              Sign Out

    - else
      = link_to "Sign in with Twitter", player_omniauth_authorize_path(:twitter)
