.league-image
  = image_tag league_logo(resource, '150x150#')

%nav.nav.nav-main
  %ul
    %li{ :class => "#{'active' if action_name == 'show'}"}
      = link_to league_url(resource) do
        %i.ss-icon.ss-dashboard
        Recent Games
    %li
      = link_to league_players_url(resource) do
        %i.ss-icon.ss-rows
        Player Ladder
    %li
      = link_to league_teams_url(resource) do
        %i.ss-icon.ss-rows
        Team Ladder
    %li
      = link_to "#" do
        %i.ss-icon.ss-user
        Player Stats
    %li
      = link_to "#" do
        %i.ss-icon.ss-users
        Team Stats
    %li
      = link_to "#" do
        %i.ss-icon.ss-notebook
        League Stats
    %li{ :class => "#{'active' if action_name == 'edit'}" }
      = link_to edit_league_url(resource) do
        %i.ss-icon.ss-settings
        League Settings
