!!! 5
%html

  %head
    %title Foosleague
    %link{:href => "#{asset_path 'favicon@2x.ico'}", :rel => "icon", :sizes => "64x64"}
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/khs2rgn.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    = render 'layouts/header'

    .content
      = flash_messages

      .row.container
        .col.col-main
          = yield


        .col.col-side-left
        .col.col-side-right

    = javascript_include_tag 'application'
    = render 'layouts/analytics'
