!!! 5
%html

  %head
    %title Foosleague
    %link{:href => "#{asset_path 'favicon@2x.ico'}", :rel => "icon", :sizes => "64x64"}
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/khs2rgn.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    = render 'layouts/header'

    - if player_signed_in? && current_league.present? && !current_league.new_record?
      .newgame.hidden
        .newgame-inner
          = simple_form_for current_league.games.build, :url => league_games_url(current_league) do |form|
            = render '/games/form', :form => form
            .newgame-action
              = form.submit 'Enter Game', { :class => 'btn btn-ondark btn-extralarge btn-primary'}

    .content
      .row.container
        .col.col-main
          - if content_for?(:heading)
            .col-main-heading
              = yield :heading
          = flash_messages
          = yield

        - if content_for?(:sideleft)
          .col.col-side.col-side-left
            = yield :sideleft
        - if content_for?(:sideright)
          .col.col-side.col-side-right
            = yield :sideright
    = javascript_include_tag 'application'
    = render 'layouts/analytics'
