!!! 5
%html

  %head
    %title FoosLeague
    %link{:href => "#{asset_path 'favicon@2x.ico'}", :rel => "icon", :sizes => "64x64"}
    = stylesheet_link_tag 'landing', :media => 'all'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/khs2rgn.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    %header.header.hidden
      .row
        .column.six
          %h1.branding Foosleague
        .column.six
          %h2.hidden Foosball Stats and Ladder Tracking for Your League

    .content.hidden
      .row
        = yield

    = javascript_include_tag 'landing'
    = render 'layouts/analytics'

