!!! 5
%html

  %head
    %title FoosLeague
    %link{:href => "#{asset_path 'favicon@2x.ico'}", :rel => "icon", :sizes => "64x64"}
    = stylesheet_link_tag 'landing', :media => 'all'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/khs2rgn.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    %header.header.hidden
      %h1.branding Foosleague
      = yield

    = javascript_include_tag 'landing'
    = render 'layouts/analytics'

